.cart-page{
    background: var(--lightergrey);
    padding: 8rem 0px;
    height: 100vh;
}
.cart-content{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0px;
}
.horizontal-card{
    display: flex;
    height: max-content;
}
.card-details{
    padding: 0rem 2rem;
    background: var(--white);
}
.price-details{
    width: clamp(12.5rem, 40vw, 18.75rem);
    padding: 2rem;
    background: var(--white);
}
.text-right{
    text-align: right;
}
.oldprice{
    color: var(--grey);
    text-decoration: line-through;
}
.quantity{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.qty-ip{
    width: 2rem;
    border: none;
    outline: none;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-top: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
}
.plusminus{
    background: var(--white);
    border: 0.5px solid var(--lightgrey);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.plusminus:hover{
    background: var(--lightergrey);
}
.remove{
    width: 100%;
    margin-top: 1.25rem;
    font-size: 0.8rem !important;
}
hr{
    border: 0;
    height: 1px;
    background: var(--lightgrey);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}