.wishlist-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    background: var(--lightergrey);
    padding: 8px;
    border-radius: var(--rounded);
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.wishlist-btn:hover{
    background: white;
}
.rating-icon{
    color: gold;
}
.container-card{
    position: relative;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}