.container-filters{
    background: var(--white);
    position: fixed;
    left: 0;
    height: 100vh;
    width: 15.625rem;
    padding: 5rem 1rem;
}
.filter-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category{
    display: flex;
    gap: 20px;
    background: red;
}
